@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body { 
    font-family: 'PT Sans', sans-serif;
    /*background-color: #5C9EAD;*/
}

h4,h6 {
    /*font-size: 16px;
    Line above just for h6. 
    h2=24 h4=20*/
    color: #01295F;
    font-size: 16px;
}
h2 {
    color: #2B4141;
    font-size: 24px;
}
p {
    font-size: 12px;
    color: #2B4141;
}
Header 
{
    position: absolute;
    top: 100vh;
    color: #2364AA;
    /*imgsrc="HeaderLogo.png" alt="My Logo";
    padding: 10px 20px 1000px 100px
    width:1000px;*/
}